{% extends "blog/base.html"%}
{% load static%}
{% block content %}
  {% for product in products %}
    <main class="container1">
  <!-- Left Column / Headphones Image -->
  		<div class="card" style="margin-bottom: auto;">
    		<img class="img-fluid" src="{%static 'blog/images/RTX.png'%}"alt="">
    	</div>
  <!-- Right Column -->
	  <div class="right-column">
	    <!-- Product Description -->
	    <div class="product-description">
	      <span>Nvidia RTX 30</span>
	      <h1 class="model">RTX Model</h1>
	      <p>Fetch description to end user</p>
	    </div>
	    <!-- Product Configuration -->
	    <div class="product-configuration">	 
	      <!-- Product Color -->
	      <div class="pb-5">
	        <span>Availability</span>
	      </div>
	    </div>
	    <!-- Product Pricing -->
	    <div class="product-price">
	      <span>148$</span>
	      <a href="#" class="cart-btn">Add to cart</a>
	    </div>
	  </div>
	</main>
  {% endfor %}
{% endblock %}